@font-face {
    font-family: 'Pangea';
    src: url('fonts/pangea/Pangea-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pangea';
    src: url('fonts/pangea/Pangea-Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pangea';
    src: url('fonts/pangea/Pangea-Medium.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pangea';
    src: url('fonts/pangea/Pangea-SemiBold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pangea';
    src: url('fonts/pangea/Pangea-Bold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PangeaText';
    src: url('fonts/pangea-text/PangeaText-Light.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PangeaText';
    src: url('fonts/pangea-text/PangeaText-Regular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PangeaText';
    src: url('fonts/pangea-text/PangeaText-Medium.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PangeaText';
    src: url('fonts/pangea-text/PangeaText-SemiBold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PangeaText';
    src: url('fonts/pangea-text/PangeaText-Bold.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
}