.h-20 {
    height: 5rem
}

.pt-16 {
    padding-top: 4rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }

    .lg\:col-span-2 {
        grid-column: span 2/span 2
    }

    .lg\:col-span-5 {
        grid-column: span 5/span 5
    }

    .lg\:col-span-7 {
        grid-column: span 7/span 7
    }

    .lg\:ml-auto {
        margin-left: auto
    }

    .lg\:mt-16 {
        margin-top: 4rem
    }

    .lg\:mt-4 {
        margin-top: 1rem
    }

    .lg\:mt-8 {
        margin-top: 2rem
    }

    .lg\:mt-auto {
        margin-top: auto
    }

    .lg\:block {
        display: block
    }

    .lg\:flex {
        display: flex
    }

    .lg\:inline-flex {
        display: inline-flex
    }

    .lg\:hidden {
        display: none
    }

    .lg\:h-10 {
        height: 2.5rem
    }

    .lg\:h-20 {
        height: 5rem
    }

    .lg\:max-w-sm {
        max-width: 24rem
    }

    .lg\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr))
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .lg\:items-center {
        align-items: center
    }

    .lg\:gap-16 {
        gap: 4rem
    }

    .lg\:gap-28 {
        gap: 7rem
    }

    .lg\:gap-12 {
        gap: 3rem
    }

    .lg\:space-x-10>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2.5rem * var(--tw-space-x-reverse));
        margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))
    }

    .lg\:space-x-16>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(4rem * var(--tw-space-x-reverse));
        margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)))
    }

    .lg\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .lg\:pr-8,
    .lg\:px-8 {
        padding-right: 2rem
    }

    .lg\:px-8 {
        padding-left: 2rem
    }

    .lg\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

    .lg\:py-16 {
        padding-top: 4rem;
        padding-bottom: 4rem
    }

    .lg\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .lg\:py-24 {
        padding-top: 6rem;
        padding-bottom: 6rem
    }

    .lg\:py-36 {
        padding-top: 9rem;
        padding-bottom: 9rem
    }

    .lg\:pt-24 {
        padding-top: 6rem
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .lg\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }

    .lg\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem
    }

    .lg\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .lg\:leading-tight {
        line-height: 1.25
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }

    .xl\:text-8xl {
        font-size: 6rem;
        line-height: 1
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px
    }

    .\32xl\:overflow-hidden {
        overflow: hidden
    }
}