.pangia-force * {
    font-family: 'Pangea', 'PangeaText' !important;
}

.bg-glacier-mountains {
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-1.jpeg') 1x);
    background-image: image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-1.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-glacier-greengoo {
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-2.jpeg') 1x);
    background-image: image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-2.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-glacier-iceage {
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-3.jpeg') 1x);
    background-image: image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-3.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-glacier-frostage {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-4.jpeg') 1x);
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-4.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-shadow-inset-bottom {
    box-shadow: inset 0 -10px 35px 2px #282a2d;
}

.bg-glacier-darkgreen-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.hover-bg-glacier-darkgreen-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.hover-text-glacier-darkgreen-400:hover {
    --tw-bg-opacity: 1;
    color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.bg-glacier-darkgreen-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.bg-glacier-darkblue-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201 / var(--tw-bg-opacity));
}

.bg-glacier-darkblue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96 / var(--tw-bg-opacity));
}

.text-glacier-darkblue-600 {
    --tw-bg-opacity: 1;
    color: rgb(20 53 96 / var(--tw-bg-opacity));
}

.focus-text-glacier-darkblue-600:focus {
    --tw-bg-opacity: 1;
    color: rgb(20 53 96 / var(--tw-bg-opacity));
}

.background-glacier-gray {
    background: #f1f1f1;
}

body {
    background-color: #f1f1f1;
}

.container {
    max-width: none !important;
    box-shadow: none;
}

.max-width-1200 {
    max-width: 1200px;
    margin: auto;
}

.widget:has(.force-full-width) {
    padding: 0 !important;
    margin: 0 !important;
}

body p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
.pagination {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.loading__spinner__bounce1,
.loading__spinner__bounce2,
.loading__spinner__bounce3 {
    background-color: #7dd8b5 !important;
}

@media (max-width: 767px) {

    /* Styles for mobile devices */
    .mobile-hidden {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Styles for tablets */
    .tab-hidden {
        display: none;
    }
}

/* 
* Dashboard header and footer
*/

.home__content {
    padding: 0;
}

.header {
    display: none;
}

.header--dashboard {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96 / var(--tw-bg-opacity));
}

.header--dashboard * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    color: white !important;
    font-weight: lighter !important;
    font-size: 1.1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    letter-spacing: 0.025em;
}

.header--dashboard .header__inner {
    max-width: 1200px;
    margin: auto;
}

.header--dashboard .header__inner .row .column {
    margin-top: 20px;
    float: left;
}

.header--dashboard .dashboard-header-dropdown>li {
    background: #143560;
}

.header .company__beta-logo .company-logo__container img {
    padding: 15px 0px 15px 60px;
}

.dashboard-header-dropdown__link .dashboard-header__name {
    padding-top: 10px;
}

.dashboard-header-dropdown__link .columns {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard-header-dropdown>li a {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96 / var(--tw-bg-opacity)) !important;
}

.dashboard-header-dropdown>li a:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201 / var(--tw-bg-opacity)) !important;
}

.widget--navbar {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.widget--navbar * {
    font-family: 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
}

.navigation-bar .top-bar-section ul li>a {
    font-size: 1.2rem;
    font-family: 'Pangea';
}

.header--microsite {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96 / var(--tw-bg-opacity));
}

.header--microsite * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
}

.top-bar {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
    border-top: none;
}

.top-bar * {
    font-family: 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
    background: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
}

.top-bar-section ul li>a {
    font-size: 1.2rem;
    font-family: 'Pangea';
}

.top-bar-section .dropdown {
    border: solid;
    border-width: 1px 1px 1px 1px;
}

.widget--navbar .navigation-bar .top-bar-section ul.left {
    border-bottom: none;
}

.footer {
    padding: 0;
}

.footer__company__info {
    display: none;
}

.learner__language__selector .theme {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.learner__language__selector ul {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.learner__language__selector .learner__language__selector__btn {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.language-selector-content {
    padding-left: 5px;
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

/* 
* Dashboard
*/


#dashboard-frame {
    width: 100%;
    height: 52rem;
    border: none;
    overflow: hidden;
}

@media (max-width: 767px) {
    #dashboard-frame {
        height: 33rem;
    }
}


/*
# Catalog Layout
*/

/* .custom-catalog-library .catalog-grid-item {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.custom-catalog-library .catalog-grid-item img {
    display: block;
    max-width: none;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
} */

.custom-catalog-library .catalog-search-bar .catalog-filters {
    border-radius: 10px;
}

.custom-catalog-library .catalog-search-bar .catalog-filters__search {
    display: none !important;
}

.custom-catalog-library .catalog-search-bar .catalog-display-type {
    display: none !important;
}

.custom-catalog-library .catalog-search-bar .catalog-filters__selections {
    width: 75%;
    border: none;
}

.custom-catalog-library .catalog-search-bar .catalog-filters__sort {
    width: 25%;
    background: transparent;
    border-left: none;
}

.custom-catalog-library .catalog-search-bar .catalog-active-filter {
    padding: 0.2em 0.8em;
    margin: 0.4em 0.5em;
    font-size: 1rem;
    background-color: #cacaca8c;
    border-radius: 5px;
}

.custom-catalog-library .catalog-search-bar select {
    padding-left: 1rem !important;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .custom-catalog-library .catalog-search-bar .catalog-filters__selections {
        width: 50%;
    }

    .custom-catalog-library .catalog-search-bar .catalog-filters__sort {
        width: 50%;
    }
}

.custom-catalog-library .catalog-header {
    visibility: hidden;
}

.custom-catalog-library .catalog-header {
    margin-bottom: 2rem;
}

.custom-catalog-library .medium-12 .medium-3 {
    padding-bottom: 2rem;
}

.custom-catalog-library .catalog-grid-item {
    background: white;
    border-radius: 20px;
    box-shadow: 4px 3px 16px 2px #a5a5a557;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.custom-catalog-library .catalog-grid-item:hover {
    scale: 1.05;
}

.custom-catalog-library .catalog-grid-item img {
    border-radius: 20px 20px 0px 0px;
}

.custom-catalog-library .catalog-grid-item .catalog-grid-item__title {
    color: rgb(20 53 96);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.902rem;
}

.custom-catalog-library .catalog-grid-item .catalog-grid-item__source {
    color: #7dd8b5;
    font-size: 0.9rem;
    display: none;
}

.custom-catalog-library .catalog-grid-item .btn--link {
    border: 2px solid rgb(109 212 173);
    font-family: 'Pangea' !important;
    font-weight: 500;
    background-color: rgb(109 212 173) !important;
    color: rgb(20 53 96);
    border-radius: 2rem;
    padding: 10px 32px !important;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.custom-catalog-library .catalog-aggregation {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
}

.custom-catalog-library .catalog-aggregation--expanded {
    background-color: transparent;
}

.custom-catalog-library .catalog-aggregation__header--label {
    color: rgb(20 53 96);
}

.custom-catalog-library .catalog__ribbon--attached {
    color: rgb(20 53 96) !important;
    background-color: #7dd8b5 !important;
}

.custom-catalog-library .catalog-grid-item__description {
    display: none;
}

.custom-catalog-library .catalog-grid-item__hr {
    border: none;
}

.custom-catalog-library-min .catalog-search-bar {
    display: none;
}

.custom-catalog-library-min .medium-3.columns {
    display: none;
}

.custom-catalog-library-min .pagination {
    display: none;
}

.custom-catalog-library-min .medium-9.columns {
    width: 100%;
}

/* .custom-catalog-library .medium-9 {
width: 100%;
} */

.custom-tabbed-content {
    font-family: 'Pangea' !important;
    padding-bottom: 5rem !important;
    margin-bottom: 3rem;
}

.custom-tabbed-content .dashboard-access {
    border-radius: 20px 20px 20px 20px;
}

.custom-tabbed-content .dashboard-access #access-section-0,
#access-section-1,
#access-section-2,
#access-section-3 {
    background: white;
    border-radius: 0 0 20px 20px;
}

.custom-tabbed-content .dashboard-access-list-item:nth-of-type(odd) {
    background: transparent;
}

.custom-tabbed-content .dashboard-access-list-item:nth-of-type(even) {
    background: transparent;
}

.custom-tabbed-content .dashboard-access-tab__label {
    font-weight: normal;
    font-size: 1rem !important;
}

.custom-tabbed-content .dashboard-access-tabs {
    --tw-bg-opacity: 1;
    background: none;
}

.custom-tabbed-content .dashboard-access-tab--active {
    --tw-bg-opacity: 1;
    background: none;
    border-color: transparent;
}

.custom-tabbed-content .dashboard-access-tab--active .dashboard-access-tab__label {
    border: solid #6dd4ad;
    padding-bottom: 2px;
    border-width: 0 0 3px 0;
}

.custom-tabbed-content .dashboard-access-list-item .text-white span {
    color: white;
}

.custom-tabbed-content .dashboard-access-tab--active:after {
    background-color: transparent;
}

.custom-tabbed-content .dashboard-access-list-item .btn--small {
    font-family: 'Pangea' !important;
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
    font-weight: normal;
    font-size: 0.9rem !important;
    color: rgb(20 53 96);
    min-width: 130px;
    border-radius: 20px;
    border: none;
}

.custom-tabbed-content .dashboard-access-list-item .btn--small:hover {
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.custom-tabbed-content .dashboard-access-list-item .col-span-3 * {
    display: none;
}

.custom-tabbed-content .dashboard-access-list-item__description {
    font-size: 1rem;
    padding-bottom: 2rem;
}

@media (max-width: 767px) {
    .custom-tabbed-content .dashboard-access-list-item .col-span-3 {
        display: none;
    }
}

/*
# Completion records widget
*/
.widget--dashboard-stats {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.widget--dashboard-stats .dashboard-stats__container {
    box-shadow: none;
    padding: 0;
}

.widget--dashboard-stats .dashboard-stat {
    border: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(2) .dashboard-stat {
    background: #2d9d90;
    box-shadow: 1px 4px 4px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
    color: white;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(3) .dashboard-stat {
    background: #6dd4ad;
    box-shadow: 1px 4px 4px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
    color: #143560;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(4) .dashboard-stat {
    background: #d1d1d1;
    box-shadow: 1px 4px 4px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
    color: #143560;
}

.widget--dashboard-stats .dashboard-stats {
    gap: 2rem;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(9) {
    display: none;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(7) {
    display: none;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(10) {
    display: none;
}

.widget--dashboard-stats .dashboard-stat * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    border: 0 !important;
    color: inherit !important;
}

.widget--dashboard-stats .dashboard-stat__label {
    font-size: 0.8rem;
    text-transform: none;
}

/* 
# Introduction Video widget
*/

.dashboard-tutorial-video {
    max-width: 1000px;
}

.dashboard-tutorial-video .widget__title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
    margin-top: 0.5rem;
    color: rgb(20 53 96);
}

.dashboard-tutorial-video .widget__subtitle {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(20 53 96);
}

/* .custom-completion-record .dashboard-stat--available .dashboard-stat__value {

} */

/*
# Home page layout
*/

.primary-catalogue .featured-content-multi-carousel-item {
    background: white;
    margin-left: 1rem;
}

.primary-catalogue .catalog-grid-item__asset-container {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.primary-catalogue .featured-content-multi-carousel-item__body {
    text-align: left;
}

.primary-catalogue h4 {
    color: rgb(20 53 96);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.902rem;
}

.primary-catalogue img {
    display: block;
    max-width: none;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.primary-testimonials .testimonial {
    padding-top: 50%;
}

/*
# Login page
*/

.session {
    background-color: rgb(20 53 96);
    background-repeat: no-repeat;
    background-size: cover, contain, cover;
    background-position: center, right, left;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.4) 5%,
            rgba(0, 0, 0, 0.2) 10%,
            rgba(0, 0, 0, 0) 15%,
            rgba(0, 0, 0, 0) 85%,
            rgba(0, 0, 0, 0.2) 90%,
            rgba(0, 0, 0, 0.4) 95%,
            rgba(0, 0, 0, 0.7)),
        url('https://res.cloudinary.com/df1dbnp0x/image/upload/v1694439186/img/brand/backgrounds/squigly_vlo9z3.svg'),
        url('https://res.cloudinary.com/df1dbnp0x/image/upload/v1694435568/img/brand/backgrounds/background-nature-5_oaxbo8.jpg');
}

.session:has(.session__container) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: inset 0 -10px 35px 2px #282a2d;
    padding: 0;
}

.session .row:has(.session__container) {
    display: flex;
    flex-grow: 1;
    -webkit-box-flex: 1;
    align-items: center;
}

.session .session__container .alert-box {
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 2rem;
}

.session .session__container .alert-box.success {
    background-color: #6dd4ad;
    color: #143560;
}

.session .session__container {
    padding: 3rem;
    border: 3px solid #ffffffb2;
    border-radius: 20px;
    background: linear-gradient(137.86deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(232, 232, 232, 0.4) 104.73%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(20px);
}

.session .session__container .company__beta-logo {
    padding: 3rem;
    border-radius: 20px;
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/logos/03_glacier_climate_academy/glacier_logo_climateacademy_4C_darkgreen.png') 1x) !important;
    background-size: contain !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.session .session__container .company__beta-logo img {
    opacity: 0;
}

.session h2 {
    margin-top: 2rem;
    color: rgb(20 53 96);
    font-size: 2rem;
    line-height: 3.804rem;
    font-weight: 600;
}

.session .session__container input[type='text'],
input[type='email'],
input[type='password'] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #143560;
    box-shadow: none;
}

.session .session__container input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #143560;
    box-shadow: none;
}

.session .session__container input::placeholder {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.session .session__container .session__forgot .btn {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.session input[type='submit'] {
    border: 2px solid rgb(109 212 173);
    font-family: 'Pangea' !important;
    font-weight: 500;
    letter-spacing: 0.03rem;
    background-color: rgb(109 212 173);
    color: rgb(20 53 96);
    border-radius: 2rem;
    font-size: 1.125rem;
}

/*
# Registration Page
*/

.widget--registration-form .text-centered {
    margin-bottom: 2rem;
}

.widget--registration-form .btn--primary {
    border: 2px solid rgb(109 212 173);
    font-weight: 500;
    letter-spacing: 0.03rem;
    background-color: rgb(109 212 173);
    color: rgb(20 53 96);
    border-radius: 2rem;
    font-size: 1.125rem;
}

.field__input--select {
    font-size: 14px;
}

/* 
# Support Page
*/

.widget--support * {
    font-family: 'Pangea' !important;
}

.widget--support strong {
    font-size: 1.3rem;
}

.widget--support .faq__question {
    font-size: 1rem;
}

.widget--support .faq__search-block .btn--submit {
    color: black;
}

.widget--support .faq__search-block .btn--submit:hover {
    background-color: #bebcbc;
}

/*
# Course Info Page
*/

.course__detail__container {
    max-width: 80rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.course__detail__container .course__detail__header p {
    font-family: 'PangeaText' !important;
}

.course__detail__container .editor-content p {
    font-family: 'PangeaText' !important;
}

.course__detail__content h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: rgb(20 53 96);
}

.course__detail__content .tabs {
    color: rgb(20 53 96);
}

.course__detail__content .tabs .tab-title.active>a,
.tabs .tab-title>a.active {
    background-color: rgb(20 53 96);
    border-color: rgb(20 53 96);
}

.course__detail__container .btn--primary {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
    color: rgb(20 53 96);
    border: none;
    padding: 0.65rem 2rem;
    border-radius: 999px;
    font-size: 1.2rem;
    font-family: 'Pangea' !important;
}

.course__detail__container .btn--primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.course__detail__container .btn--secondary {
    display: none;
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201 / var(--tw-bg-opacity));
    color: white;
    border: none;
    padding: 0.8rem 0rem;
    border-radius: 999px;
    font-size: 1rem;
    font-family: 'Pangea' !important;
}

.course__detail__container .btn--secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96 / var(--tw-bg-opacity));
    color: white;
}

.course__detail__container .email-capture .btn--primary {
    padding: 0.65rem 2rem;
    margin-top: 1rem;
}

.course__detail__container .course__includes * {
    color: rgb(20 53 96);
    font-size: 1rem;
    font-family: ti-icons-rev2, 'Pangea' !important;
}

.course__detail__container .course__includes .icon--round {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
    margin-top: 0.5rem;
}

.course__detail__container .course__detail__header {
    padding: 2rem 0rem;
}

.course__detail__container .course__detail__social {
    border-radius: 15px;
}

.course__detail__container .course__detail__social .heading {
    padding-bottom: 15px;
}

/*
# Product Page
*/

.trustpilot-verified {
    border: none;
    background-color: #b1f2d0;
    padding: 1px;
    border-radius: 2px;
    margin-top: 8px;
}

/*
# Course Consumption Page
*/

.course__container .topic__contained__sidebar {
    display: none;
}

.course__container .topic__contained__content {
    width: 100% !important;
}

.course__container .layout-panel {
    background: transparent;
}

.course__container .discussion-threads {
    background: white;
    margin-top: 2rem;
    border-radius: 20px;
}

.course__container .tools-tab {
    display: none;
}

.course__container .discussion-threads {
    display: none;
}

.course__container .discussion-threads .discussion-card {
    box-shadow: 4px 4px 30px 5px #a5a5a552;
    border: none;
}

.course__container .discussion-threads div:nth-child(7) {
    margin-top: 2rem;
}

.course__container .expandable-sidebar__toggle:has(.icon-pen) {
    display: none;
}

.course__container .expandable-sidebar__toggle:has(.icon-mail) {
    display: none;
}

.course__container .expandable-sidebar__toggle:has(.icon-compose) {
    display: none;
}

.course__container .expandable-sidebar__toggle {
    background-color: transparent;
    color: #143560;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-transform: capitalize;
}

.course__container .expandable-sidebar__buttons {
    display: none;
}

.course__container .btn,
.btn--primary,
directional__nav__button {
    background-color: #6dd4ad;
    color: #143560;
    border-radius: 20px;
    border: none;
}

.course__container .tabs,
.tabs .tab-title>a.active {
    background-color: #6dd4ad;
    color: #143560;
    padding: 0 1rem;
    border-radius: 10px;
    border: none;
}

.course__container .directional__nav__label {
    visibility: visible;
}

.course__container .directional__nav__button__container a div {
    background-color: #6dd4ad;
    color: #143560 !important;
    border-radius: 20px;
    border: none;
    padding: 0.3rem 1.2rem;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course__container .directional__nav__button__container .directional__nav__button {
    display: none;
}

.course__container .learner__content .directional__nav {
    display: none;
}

.course__container .section-selector #select-section {
    border-radius: 10px;
    padding-left: 1rem;
    border-color: #143560;
    color: #143560;
    font-size: 1rem;
}

.course__container .learner__sidebar-inner-list .syllabus__lesson .syllabus__lesson--title .syllabus__lesson--title-text {
    padding: 0.2rem 0;
    letter-spacing: 0.01em;
}

.course__container .course-progress__overall__bar {
    visibility: hidden;
}

.course__container .comment__container {
    margin-top: 2rem;
}

.course__container .comment__container .comment {
    padding: 2rem;
    border-radius: 20px;
}

.course__container .comment__container .ember-text-area {
    border-radius: 10px;
    padding: 1rem;
}

.course__container .directional__nav__label {
    display: block;
}

.home.course-group .container {
    padding-top: 0 !important;
}

.course__container .learner__content {
    margin-bottom: 100px;
}

.course-purchase__mobile-button {
    display: none !important;
}

.course__detail__container .course__includes .icon--round {
    font-size: 1.1rem;
}

.checkbox-indicator {
    background-color: #ffffff;
    border: solid #d1d1d1;
}

.btn--primary[aria-expanded="true"] {
    padding: .375em 1em;
}

.learner__content .topic__container a {
    text-decoration: none;
    color: #143560 !important;
}

.learner__content .results__controls .btn--primary {
    font-size: .875rem;
    padding: .5em 1.25em;
}

.course__container .expandable-sidebar__toggle:has(.icon-flag) {
    display: none;
}

.course__container .course-completion-progress {
    display: none;
}

.topic__content--meeting-info small {
    display: none;
}

.learner__content .topic__container .topic__content.topic__content--text {
    width: 100%;
}

.learner__content .topic__container .topic__sidebar.topic__sidebar--text {
    display: none;
}


/* 
# Cookie Popover
*/

.cookie-popover__inner span {
    font-size: 1rem;
}

.cookie-popover__inner span a {
    color: #143560;
    text-decoration: underline;
}

.cookie-popover__inner div {
    margin-top: 1rem;
}

.cookie-popover__inner .btn {
    border: 2px solid rgb(109 212 173);
    font-family: 'Pangea' !important;
    font-weight: 500;
    color: rgb(20 53 96);
    border-radius: 2rem;
    padding: 10px 32px !important;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.cookie-popover__inner .btn--primary--manager--new {
    background-color: rgb(109 212 173) !important;
}

/* 
# Accounts Page
*/

.dashboard-account .dashboard-account-tabs li:nth-child(9) {
    display: none;
}

.dashboard-account .btn--primary--manager--new {
    background-color: #6dd4ad;
    color: #143560;
    border-radius: 20px;
    border: none;
}

.dashboard-account .dashboard__user__avatar-upload {
    border-radius: 20px;
}

.dashboard-account .field__input {
    font-size: 1rem;
    border-radius: 5px;
}

/* 
# Survey Form Page
*/

.application__content--survey div:nth-child(n + 2) {
    max-width: 1200px;
}

.application__content--survey .header__title {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.application__content--survey label p {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.application__content--survey {
    margin-bottom: 10rem;
}

/* 
# Redemption Form
*/
.widget--redemption-form:has(.already-member) {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.widget--redemption-form .alert-box {
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: normal;
}

.widget--redemption-form .alert-box.success {
    background-color: #6dd4ad;
    color: #143560;
}

/* 
* Certificate Frame
*/

#certificate-frame {
    width: 100%;
    height: 52rem;
    border: none;
    overflow: hidden;
}

@media (max-width: 767px) {
    #certificate-frame {
        height: 33rem;
    }

    .course__detail__container .course__includes .icon--round {
        font-size: 1.2rem;
    }
}

.learner__language__selector__btn {
    font-size: 21px;
}

.learner__language__selector__btn li:nth-child(-n + 4) {
    font-size: 11px;
}

.widget--registration-form .underline {
    color: #539adb;
}

/*
* Force landscape
*/

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.fullscreen-overlay p {
    color: #fff;
    font-size: 24px;
    margin: auto;
    max-width: 300px;
}

/* Media query for portrait mode */
@media only screen and (orientation: portrait) {
    .fullscreen-overlay {
        display: flex;
    }
}

/* Media query for landscape mode */
@media only screen and (orientation: landscape) {
    .fullscreen-overlay {
        display: none;
    }
}

/* 
* Authoring Tools
 */

/* Paragraph */
.topic__container p {
    font-family: 'PangeaText';
    font-size: 1rem;
    /* 17px */
    line-height: 1.6rem;
    /* 160% */
    margin-bottom: 1rem;
    color: #4F4F4F !important;
}

/* H1 */
.topic__container h1 {
    font-family: 'Pangea';
    font-weight: bold;
    font-size: 1.881rem;
    /* 32px */
    letter-spacing: 0.04em;
    /* 4% */
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(20 53 96);
}

/* H2 */
.topic__container h2 {
    font-family: 'Pangea';
    font-weight: bold;
    font-size: 1.529rem;
    /* 26px */
    letter-spacing: 0.04em;
    /* 4% */
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(20 53 96);
}

/* H3 */
.topic__container h3 {
    font-family: 'Pangea';
    font-weight: bold;
    font-size: 1.176rem;
    /* 20px */
    letter-spacing: 0.04em;
    /* 4% */
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(20 53 96);
}

/* H4 */
.topic__container h4 {
    font-family: 'Pangea';
    font-weight: bold;
    font-size: 0.941rem;
    /* 16px */
    letter-spacing: 0.04em;
    /* 4% */
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(20 53 96);
}

/* H5 */
.topic__container h5 {
    font-family: 'Pangea';
    font-size: 0.941rem;
    /* 16px */
    letter-spacing: 0.04em;
    /* 4% */
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(20 53 96);
}

/* H6 */
.topic__container h6 {
    font-family: 'Pangea';
    font-size: 0.824rem;
    /* 14px */
    text-transform: uppercase;
    letter-spacing: 0.04em;
    /* 4% */
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: rgb(20 53 96);
}

/* Ordered List */
.topic__container ol {
    font-family: 'PangeaText';
    font-size: 1rem;
    /* 17px */
    line-height: 1.6rem;
    /* 160% */
    margin-bottom: 1rem;
    color: #4F4F4F !important;
    list-style: none;
    /* list-style-type: decimal; */
    counter-reset: ol-counter;
}
.topic__container ol li:not(.choice--multiple)::before {
    counter-increment: ol-counter;
    content: counter(ol-counter) ". ";
    font-family: 'PangeaText';
    text-transform: uppercase;
    color: #87D2AF;
    font-weight: bold;
    display: inline-block;
    /* to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1.7em;
    margin-right: 0.5em;
}


/* Unordered List */
.topic__container ul {
    font-family: 'PangeaText';
    font-size: 1rem;
    /* 17px */
    line-height: 1.6rem;
    /* 160% */
    margin-bottom: 1rem;
    color: #4F4F4F !important;
    /* list-style-type: square; */
    list-style: none;
}


.topic__container ul li:not(.choice--multiple)::before {
    content: "\25A0";
    /* Unicode square bullet */
    color: #87D2AF;
    font-size: 0.5em;
    display: inline-block;
    /* to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -2em;
    margin-right: 2em;
    vertical-align: middle;
}

/* Hyperlinked Text */
.topic__container a {
    color: #519B90 !important;
    text-decoration: underline;
}

.topic__container li::marker {
    content: none;
}

.quiz__container .choices__list li {
    transition: all 200ms ease-in-out;
}


/* 
* Learning Path Info Page
*/

.widget:has(.force-full-width) {
    padding: 0 !important;
    margin: 0 !important;
}

.container:has(.learning-path_custom-layout) {
    background-color: #f1f1f1;
}

.learning-path-custom-hero,
.learning-path-body,
.learning-path-timeline {
    max-width: 82rem;
    margin: auto;
}

.learning-content-hero {
    visibility: hidden;
}

.widget--learning-path-content-hero {
    max-height: 1300px;
}

.learning-path-timeline-milestone-items .learning-path-timeline-milestone-item {
    display: flex;
    column-gap: 2rem;
}

.learning-path-timeline-milestone-items .learning-path-timeline-milestone-item__content-container {
    padding: 2em 0em;
}

.column.small-centered:last-child,
.columns.small-centered:last-child {
    float: left;
    width: 100% !important;
}

.learning-path-timeline-milestone-item__content {
    width: 100%;
}

.learning-path-timeline-milestone-item__content .learning-path-milestone-item__title {
    order: 1;
}

.learning-path-timeline-milestone-item__content .learning-path-milestone__badge--required {
    order: 2;
    margin-bottom: 0px;
    margin: auto;
}

.learning-path-timeline-milestone-item__content-container--left {
    margin-left: -1.5rem;
}

.learning-path-timeline-milestone-item-circle,
.learning-path-timeline-milestone-item__vertical-line,
.learning-path-timeline-milestone-item__horizontal-line,
.learning-path-timeline-milestone__header-criterion,
.learning-path-timeline-milestone__header,
.learning-path-milestone-item__info,
.learning-path-milestone__badge--required {
    display: none;
}

.learning-path-body .collapse,
.hr__accent {
    display: none;
}

.learning-path-body .medium-9 {
    width: 100% !important;
}

.learning-path-timeline-milestone-items {
    background-color: #f1f1f1;
}

.learning-path-timeline-milestone__header {
    background-color: #f1f1f1;
    border: none;
    padding: 0em 1em 0 10%;
}

.learning-path-timeline-milestone__header-content {
    padding: 0;
}

.h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.learning-path-milestone-item__description,
.learning-path-milestone-item__alt-description p {
    letter-spacing: 0.06em;
    padding-bottom: 2rem;
    font-size: 1rem;
    color: rgb(20 53 96);
}

.btn--primary {
    font-size: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 99px !important;
}

.learning-path-progress-bar-item__index {
    background: #f1f1f1;
    border: none;
    color: #a5afbf;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Pangea';
}

.learning-path-progress-bar-item--current .learning-path-progress-bar-item__index {
    color: rgb(20 53 96);
    background: #f1f1f1;
}

.learning-path-progress-bar-item__border {
    border-top: 2px solid #cbcbcb;
}

@media (min-width: 48.063em) {
    .medium-push-6 {
        left: 48%;
    }

    .learning-path-timeline-milestone-items .learning-path-timeline-milestone-item {
        column-gap: 5rem;
    }
}


/* 
* Product Page
*/

.course__detail__container:has(.tabs-content--products) {
    visibility: hidden;
}

.course__detail__header p {
    color: #143560;
}

.course__detail__header .h2 {
    color: #143560;
}

.course__detail__container .select--large {
    border-radius: 99px;
    margin: 0.5rem 0 2rem 0 !important;
}

.layout__content--sidebar .widget .widget__title {
    color: #143560;
}

.layout__content--sidebar .widget__subtitle {
    color: #143560;
}

.products__list li button {
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 3px #f4f4f4;
}

.products__list li img {
    display: block;
    max-height: 100px;
    width: auto;
    max-width: 250px;
    margin: 3rem auto;
}

.products__list .block-grid__item__title {
    color: #143560;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.products__list .block-grid__item__description {
    margin: 1rem 0;
}

.products__list .block-grid__item__description h4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.products__list .block-grid__item__description h5 {
    text-align: center;
    margin: 1.2rem 0;
    font-size: 1.2rem;
}

.products__list .block-grid__item__description p {
    margin: 1.2rem 0;
}

.products__list .block-grid__item__description ul {
    margin: 1.2rem auto;
    max-width: 250px;
}

.modal-content {
    border-radius: 1rem;
}

.modal-body .product__detail__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-body,
.modal-footer {
    padding: 2rem;
}

.modal-body .product__detail__description .product__detail__header {
    display: none;
}

.modal-body .product__detail__description p {
    font-size: 1rem;
    margin: 1.2rem auto;
}

.modal-body .btn--alt {
    display: none;
}

/* 
*  License selector
*/
.dashboard__license-select__form {
    border-radius: 1rem;
    padding: 2em 1em;
    margin: 1rem;
}

.dashboard__license-select__form form {
    margin-bottom: 0;
}

.dashboard__license-select__form .btn--primary {
    margin: 1rem 0;
}

/* 
* Collapsable accordion element
*/

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.accordion-icon {
    transition: transform 0.3s ease-in-out;
}

.accordion-hidden {
    display: block !important;
    max-height: 0 !important;
}