.pangia-force * {
    font-family: 'Pangea', 'PangeaText' !important;
}

.bg-glacier-mountains {
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-1.jpeg') 1x);
    background-image: image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-1.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-glacier-greengoo {
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-2.jpeg') 1x);
    background-image: image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-2.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-glacier-iceage {
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-3.jpeg') 1x);
    background-image: image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-3.jpeg') 1x);
    background-size: cover;
    background-position: center;
}

.bg-shadow-inset-bottom {
    box-shadow: inset 0 -10px 35px 2px #282a2d;
}

.bg-glacier-darkgreen-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.hover-bg-glacier-darkgreen-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.hover-text-glacier-darkgreen-400:hover {
    --tw-bg-opacity: 1;
    color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.bg-glacier-darkgreen-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.bg-glacier-darkblue-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201/var(--tw-bg-opacity));
}

.bg-glacier-darkblue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
}

.text-glacier-darkblue-600 {
    --tw-bg-opacity: 1;
    color: rgb(20 53 96/var(--tw-bg-opacity));
}

.focus-text-glacier-darkblue-600:focus {
    --tw-bg-opacity: 1;
    color: rgb(20 53 96/var(--tw-bg-opacity));
}

.background-glacier-gray {
    background: #F1F1F1;
}

body {
    background-color: #F1F1F1;
}

.container {
    max-width: none !important;
    box-shadow: none;
}

.max-width-1200 {
    max-width: 1200px;
    margin: auto;
}

.widget:has(.force-full-width) {
    padding: 0 !important;
    margin: 0 !important;
}

body p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
.pagination {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.loading__spinner__bounce1,
.loading__spinner__bounce2,
.loading__spinner__bounce3 {
    background-color: #7DD8B5 !important;
}

@media (max-width: 767px) {

    /* Styles for mobile devices */
    .mobile-hidden {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    /* Styles for tablets */
    .tab-hidden {
        display: none;
    }
}

/* 
* Dashboard header and footer
*/

.home__content {
    padding: 0;
}

.header--dashboard {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
}

.header--dashboard * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    color: white !important;
    font-weight: lighter !important;
    font-size: 1.1rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    letter-spacing: 0.025em;
}

.header--dashboard .header__inner {
    max-width: 1200px;
    margin: auto;
}

.header--dashboard .header__inner .row .column {
    margin-top: 20px;
    float: left;
}

.header--dashboard .dashboard-header-dropdown>li {
    background: #143560;
}

.header .company__beta-logo .company-logo__container img {
    padding: 15px 0px 15px 60px;
}

.dashboard-header-dropdown__link .dashboard-header__name {
    padding-top: 10px;
}

.dashboard-header-dropdown__link .columns {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard-header-dropdown>li a {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity)) !important;
}

.dashboard-header-dropdown>li a:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201/var(--tw-bg-opacity)) !important;
}

.widget--navbar {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.widget--navbar * {
    font-family: 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
}

.navigation-bar .top-bar-section ul li>a {
    font-size: 1.2rem;
    font-family: 'Pangea';
}

.header--microsite {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
}

.header--microsite * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
}

.top-bar {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
    border-top: none;
}

.top-bar * {
    font-family: 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
    background: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
}

.top-bar-section ul li>a {
    font-size: 1.2rem;
    font-family: 'Pangea';
}

.top-bar-section .dropdown {
    border: solid;
    border-width: 1px 1px 1px 1px;
}

.widget--navbar .navigation-bar .top-bar-section ul.left {
    border-bottom: none;
}

.footer {
    padding: 0;
}

.footer__company__info {
    display: none;
}

.learner__language__selector .theme {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}


.learner__language__selector ul {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.learner__language__selector .learner__language__selector__btn {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.language-selector-content {
    padding-left: 5px;
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

/*
# Catalog Layout
*/

/* .custom-catalog-library .catalog-grid-item {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.custom-catalog-library .catalog-grid-item img {
    display: block;
    max-width: none;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
} */

.custom-catalog-library .catalog-search-bar .catalog-filters {
    border-radius: 10px;
}

.custom-catalog-library .catalog-search-bar .catalog-filters__search {
    display: none !important;
}

.custom-catalog-library .catalog-search-bar .catalog-display-type {
    display: none !important;
}

.custom-catalog-library .catalog-search-bar .catalog-filters__selections {
    width: 75%;
    border: none;
}

.custom-catalog-library .catalog-search-bar .catalog-filters__sort {
    width: 25%;
    background: transparent;
}

.custom-catalog-library .catalog-search-bar .catalog-active-filter {
    padding: 0.2em 0.8em;
    margin: 0.4em 0.5em;
    font-size: 1rem;
    background-color: #cacaca8c;
    border-radius: 5px;
}

.custom-catalog-library .catalog-search-bar select {
    padding-left: 1rem !important;
    border-radius: 6px;
}

@media (max-width: 767px) {

    .custom-catalog-library .catalog-search-bar .catalog-filters__selections {
        width: 50%;
    }

    .custom-catalog-library .catalog-search-bar .catalog-filters__sort {
        width: 50%;
    }
}

.custom-catalog-library .catalog-header {
    display: none !important;
}

.custom-catalog-library .catalog-header {
    margin-bottom: 2rem;
}

.custom-catalog-library .medium-12 .medium-3 {
    padding-bottom: 2rem;
}

.custom-catalog-library .catalog-grid-item {
    background: white;
    border-radius: 20px;
    box-shadow: 4px 3px 16px 2px #a5a5a557;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.custom-catalog-library .catalog-grid-item:hover {
    scale: 1.05;
}

.custom-catalog-library .catalog-grid-item img {
    border-radius: 20px 20px 0px 0px;
}

.custom-catalog-library .catalog-grid-item .catalog-grid-item__title {
    color: rgb(20 53 96);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.902rem;
}

.custom-catalog-library .catalog-grid-item .catalog-grid-item__source {
    color: #7DD8B5;
    font-size: 0.9rem;
    display: none;
}

.custom-catalog-library .catalog-grid-item .btn--link {
    border: 2px solid rgb(109 212 173);
    font-family: 'Pangea' !important;
    font-weight: 500;
    background-color: rgb(109 212 173) !important;
    color: rgb(20 53 96);
    border-radius: 2rem;
    padding: 10px 32px !important;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.custom-catalog-library .catalog-aggregation {
    border: 1px solid #cbcbcb;
    border-radius: 10px;
}

.custom-catalog-library .catalog-aggregation--expanded {
    background-color: transparent;
}

.custom-catalog-library .catalog-aggregation__header--label {
    color: rgb(20 53 96);
}

.custom-catalog-library .catalog__ribbon--attached {
    color: rgb(20 53 96) !important;
    background-color: #7DD8B5 !important;
}

/* .custom-catalog-library .medium-9 {
width: 100%;
} */

.custom-tabbed-content {
    font-family: 'Pangea' !important;
    padding-bottom: 5rem !important;
    margin-bottom: 3rem;
}

.custom-tabbed-content .dashboard-access {
    border-radius: 20px 20px 20px 20px;
}

.custom-tabbed-content .dashboard-access #access-section-0,
#access-section-1,
#access-section-2,
#access-section-3 {
    background: white;
    border-radius: 0 0 20px 20px;
}

.custom-tabbed-content .dashboard-access-list-item:nth-of-type(odd) {
    background: transparent;
}

.custom-tabbed-content .dashboard-access-list-item:nth-of-type(even) {
    background: transparent;
}

.custom-tabbed-content .dashboard-access-tab__label {
    font-weight: normal;
    font-size: 1rem !important;
}

.custom-tabbed-content .dashboard-access-tabs {
    --tw-bg-opacity: 1;
    background: none;
}

.custom-tabbed-content .dashboard-access-tab--active {
    --tw-bg-opacity: 1;
    background: none;
    border-color: transparent;
}

.custom-tabbed-content .dashboard-access-tab--active .dashboard-access-tab__label {
    border: solid #6DD4AD;
    padding-bottom: 2px;
    border-width: 0 0 3px 0;
}

.custom-tabbed-content .dashboard-access-list-item .btn--small {
    font-family: 'Pangea' !important;
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
    font-weight: normal;
    font-size: 0.9rem !important;
    color: rgb(20 53 96);
    min-width: 130px;
    border-radius: 20px;
    border: none;
}

.custom-tabbed-content .dashboard-access-list-item .btn--small:hover {
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.custom-tabbed-content .dashboard-access-list-item .col-span-3 * {
    display: none;
}

.custom-tabbed-content .dashboard-access-list-item__description {
    font-size: 1rem;
    padding-bottom: 2rem;
}

@media (max-width: 767px) {

    .custom-tabbed-content .dashboard-access-list-item .col-span-3 {
        display: none;
    }
}

/*
# Completion records widget
*/
.widget--dashboard-stats {
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.widget--dashboard-stats .dashboard-stats__container {
    box-shadow: none;
    padding: 0;
}

.widget--dashboard-stats .dashboard-stat {
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(2) .dashboard-stat {
    background: #2D9D90;
    box-shadow: 1px 4px 4px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
    color: white;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(3) .dashboard-stat {
    background: #6DD4AD;
    box-shadow: 1px 4px 4px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
    color: #143560;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(4) .dashboard-stat {
    background: #D1D1D1;
    box-shadow: 1px 4px 4px rgba(156, 156, 156, 0.25);
    border-radius: 20px;
    color: #143560;
}

.widget--dashboard-stats .dashboard-stats {
    gap: 2rem;
}

.widget--dashboard-stats .dashboard-stats li:nth-child(9) {
    display: none;
}

.widget--dashboard-stats .dashboard-stat * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    border: 0 !important;
    color: inherit !important;
}

.widget--dashboard-stats .dashboard-stat__label {
    font-size: .8rem;
    text-transform: none;
}

/* .custom-completion-record .dashboard-stat--available .dashboard-stat__value {

} */

/*
# Home page layout
*/

.primary-catalogue .featured-content-multi-carousel-item {
    background: white;
    margin-left: 1rem;
}

.primary-catalogue .catalog-grid-item__asset-container {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.primary-catalogue .featured-content-multi-carousel-item__body {
    text-align: left;
}

.primary-catalogue h4 {
    color: rgb(20 53 96);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.902rem;
}

.primary-catalogue img {
    display: block;
    max-width: none;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.primary-testimonials .testimonial {
    padding-top: 50%;
}

/*
# Login page
*/

.session {
    background-color: rgb(20 53 96);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/backgrounds/background-nature-3.jpeg') 1x);
}

.session .session__container {
    padding: 3rem;
    border: 3px solid #FFFFFFB2;
    border-radius: 20px;
    background: linear-gradient(137.86deg, rgba(255, 255, 255, 0.5) 0%, rgba(232, 232, 232, 0.4) 104.73%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(20px);
}

.session .session__container .company__beta-logo {
    padding: 3rem;
    border-radius: 20px;
    background-image: -webkit-image-set(url('https://glacier-projects.vercel.app/img/brand/logos/03_glacier_climate_academy/glacier_logo_climateacademy_4C_darkgreen.png') 1x) !important;
    background-size: contain !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.session .session__container .company__beta-logo img {
    opacity: 0;
}

.session h2 {
    margin-top: 2rem;
    color: rgb(20 53 96);
    font-size: 2rem;
    line-height: 3.804rem;
    font-weight: 600;
}

.session .session__container input[type="text"],
input[type="email"],
input[type="password"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #143560;
    box-shadow: none;
}

.session .session__container input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #143560;
    box-shadow: none;
}

.session .session__container input::placeholder {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.session .session__container .session__forgot .btn {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.session input[type="submit"] {
    border: 2px solid rgb(109 212 173);
    font-family: 'Pangea' !important;
    font-weight: 500;
    letter-spacing: .03rem;
    background-color: rgb(109 212 173);
    color: rgb(20 53 96);
    border-radius: 2rem;
    font-size: 1.125rem;
}

/*
# Registration Page
*/

.widget--registration-form .text-centered {
    margin-bottom: 2rem;
}

.widget--registration-form .btn--primary {
    border: 2px solid rgb(109 212 173);
    font-weight: 500;
    letter-spacing: .03rem;
    background-color: rgb(109 212 173);
    color: rgb(20 53 96);
    border-radius: 2rem;
    font-size: 1.125rem;
}

/* 
# Support Page
*/

.widget--support * {
    font-family: 'Pangea' !important;
}

.widget--support strong {
    font-size: 1.3rem;
}

.widget--support .faq__question {
    font-size: 1rem;
}

.widget--support .faq__search-block .btn--submit {
    color: black;
}

.widget--support .faq__search-block .btn--submit:hover {
    background-color: #bebcbc;
}

/*
# Course Info Page
*/

.course__detail__container {
    max-width: 80rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.course__detail__container .course__detail__header p {
    font-family: 'PangeaText' !important;
}

.course__detail__container .editor-content p {
    font-family: 'PangeaText' !important;
}

.course__detail__content h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: rgb(20 53 96);
}

.course__detail__content .tabs {
    color: rgb(20 53 96);
}

.course__detail__content .tabs .tab-title.active>a,
.tabs .tab-title>a.active {
    background-color: rgb(20 53 96);
    border-color: rgb(20 53 96);
}

.course__detail__container .btn--primary {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
    color: rgb(20 53 96);
    border: none;
    padding: 0.65rem 0rem;
    border-radius: 999px;
    font-size: 1.2rem;
    font-family: 'Pangea' !important;
}

.course__detail__container .btn--primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.course__detail__container .btn--secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201/var(--tw-bg-opacity));
    color: white;
    border: none;
    padding: 0.8rem 0rem;
    border-radius: 999px;
    font-size: 1rem;
    font-family: 'Pangea' !important;
}

.course__detail__container .btn--secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
    color: white;
}

.course__detail__container .email-capture .btn--primary {
    padding: 0.65rem 2rem;
    margin-top: 1rem;
}

.course__detail__container .course__includes * {
    color: rgb(20 53 96);
    font-size: 1rem;
    font-family: ti-icons-rev2, 'Pangea' !important;
}

.course__detail__container .course__includes .icon--round {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
    margin-top: 0.5rem;
}

.course__detail__container .course__detail__header {
    padding: 2rem 0rem;
}

.course__detail__container .course__detail__social {
    border-radius: 15px;
}

.course__detail__container .course__detail__social .heading {
    padding-bottom: 15px;
}

/*
# Product Page
*/

.trustpilot-verified {
    border: none;
    background-color: #b1f2d0;
    padding: 1px;
    border-radius: 2px;
    margin-top: 8px;
}

/*
# Course Consumption Page
*/

.course__container .topic__contained__sidebar {
    display: none;
}

.course__container .topic__contained__content {
    width: 100% !important;
}

.course__container .layout-panel {
    background: transparent;
}

.course__container .discussion-threads {
    background: white;
    margin-top: 2rem;
    border-radius: 20px;
}

.course__container .tools-tab {
    display: none;
}

.course__container .discussion-threads .discussion-card {
    box-shadow: 4px 4px 30px 5px #a5a5a552;
    border: none;
}

.course__container .discussion-threads div:nth-child(7) {
    margin-top: 2rem;
}

.course__container .expandable-sidebar__toggle {
    background-color: transparent;
    color: #143560;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-transform: capitalize;
}

.course__container .expandable-sidebar__buttons {
    display: none;
}

.course__container .btn,
.btn--primary,
directional__nav__button {
    background-color: #6DD4AD;
    color: #143560;
    border-radius: 20px;
    border: none;
}

.course__container .tabs,
.tabs .tab-title>a.active {
    background-color: #6DD4AD;
    color: #143560;
    padding: 0 1rem;
    border-radius: 10px;
    border: none;
}

.course__container .directional__nav__label {
    visibility: visible;
}

.course__container .directional__nav__button__container a div {
    background-color: #6DD4AD;
    color: #143560 !important;
    border-radius: 20px;
    border: none;
    padding: 0.3rem 1.2rem;
}

.course__container .directional__nav__button__container .directional__nav__button {
    display: none;
}

.course__container .learner__content .directional__nav {
    display: none;
}

.course__container .section-selector #select-section {
    border-radius: 10px;
    padding-left: 1rem;
    border-color: #143560;
    color: #143560;
    font-size: 1rem;
}

.course__container .learner__sidebar-inner-list .syllabus__lesson .syllabus__lesson--title .syllabus__lesson--title-text {
    padding: 0.2rem 0;
    letter-spacing: 0.01em;
}