@font-face {
    font-family: 'Pangea';
    src: url('https://glacier.eco/dist/assets/pangea-bold.caabc29f.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Pangea';
    src: url('https://glacier.eco/dist/assets/pangea-regular.9e1d7570.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pangea';
    src: url('https://glacier.eco/dist/assets/pangea-semi-bold.1e0c9deb.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

.pangia-force * {
    font-family: 'Pangea' !important;
}

.bg-glacier-darkgreen-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.bg-glacier-darkgreen-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.bg-glacier-darkblue-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201/var(--tw-bg-opacity));
}

.bg-glacier-darkblue-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
}

.text-glacier-darkblue-600 {
    --tw-bg-opacity: 1;
    color: rgb(20 53 96/var(--tw-bg-opacity));
}

body {
    background-color: white;
}

.container {
    max-width: none !important;
    box-shadow: none;
}

.home__content {
    padding: 0;
}

.header--dashboard {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.header--dashboard * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
}

.dashboard-header-dropdown>li a {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity)) !important;
}

.dashboard-header-dropdown>li a:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201/var(--tw-bg-opacity)) !important;
}

.widget--navbar {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.widget--navbar * {
    font-family: 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
}

.navigation-bar .top-bar-section ul li>a {
    font-size: 1.2rem;
    font-family: 'Pangea';
}

.header--microsite {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.header--microsite * {
    font-family: ti-icons-rev2, 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
}

.top-bar {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
    border-top: none;
}

.top-bar * {
    font-family: 'Pangea' !important;
    color: white !important;
    font-weight: normal !important;
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
    background: rgb(45 157 144 / var(--tw-bg-opacity)) !important;
}

.top-bar-section ul li>a {
    font-size: 1.2rem;
    font-family: 'Pangea';
}

.top-bar-section .dropdown {
    border: solid;
    border-width: 1px 1px 1px 1px;
}

.widget--navbar .navigation-bar .top-bar-section ul.left {
    border-bottom: none;
}

.footer {
    padding: 0;
}

.footer__company__info {
    display: none;
}

.learner__language__selector .theme {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}


.learner__language__selector ul {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.language-selector-content {
    padding-left: 5px;
    font-size: 1rem;
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.widget:has(.force-full-width) {
    padding: 0 !important;
    margin: 0 !important;
}

body p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: 'Pangea' !important;
    color: rgb(20 53 96);
}

.loading__spinner__bounce1,
.loading__spinner__bounce2,
.loading__spinner__bounce3 {
    background-color: #7DD8B5 !important;
}

.background-foresthaze {
    background-image: url('https://glacier.eco/uploads/_1536x1024_crop_center-center_82_line/AdobeStock_540701333.jpeg');
}

.background-oceanwaves {
    background-image: url('https://glacier.eco/uploads/_1536x1023_crop_center-center_82_line/AdobeStock_295622062.jpeg');
}

.background-deepfrost {
    background-image: url('https://glacier.eco/uploads/_1536x1152_crop_center-center_82_line/AdobeStock_241603407.jpeg');
}

/*
# Catalog Layout
*/

/* .custom-catalog-library .catalog-grid-item {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.custom-catalog-library .catalog-grid-item img {
    display: block;
    max-width: none;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
} */

.custom-catalog-library .catalog-grid-item .catalog-grid-item__title {
    color: rgb(20 53 96);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.902rem;
}

.custom-catalog-library .catalog-grid-item .catalog-grid-item__source {
    color: #7DD8B5;
    font-size: 0.9rem;
}

/* .custom-catalog-library .medium-9 {
width: 100%;
} */

.custom-tabbed-content {
    font-family: 'Pangea' !important;
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
    padding-bottom: 5rem !important;
    margin-bottom: 3rem;
}

.custom-tabbed-content .dashboard-access {
    border: 0;
}

.custom-tabbed-content .dashboard-access-tab__label {
    font-weight: normal;
    font-size: 1rem !important;
}

.custom-tabbed-content .dashboard-access-tabs {
    --tw-bg-opacity: 1;
    background: rgb(45 157 144 / var(--tw-bg-opacity));
}

.custom-tabbed-content .dashboard-access-tab--active {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
}

.custom-tabbed-content .dashboard-access-list-item .btn--small {
    font-family: 'Pangea' !important;
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
    font-weight: normal;
    font-size: 0.9rem !important;
    color: rgb(20 53 96);
    min-width: 130px;
    border-radius: 20px;
    border: none;
}

.custom-tabbed-content .dashboard-access-list-item .btn--small:hover {
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.custom-tabbed-content .dashboard-access-list-item .col-span-3 * {
    display: none;
}

.custom-tabbed-content .dashboard-access-list-item__description {
    font-size: 1rem;
    padding-bottom: 2rem;
}

/*
# Completion records widget
*/

.widget--dashboard-stats {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.widget--dashboard-stats .dashboard-stats__container {
    box-shadow: none;
    padding: 0;
}

.widget--dashboard-stats .dashboard-stat {
    border: none;
    transition: .5s all;
    -webkit-transition: .5s all;
}

.widget--dashboard-stats .dashboard-stat:hover {
    border-radius: 20px;
    box-shadow: 15px 15px 37px #102a4d, -15px -15px 37px #184073;
}

.widget--dashboard-stats .dashboard-stat * {
    font-family: 'Pangea' !important;
    color: white !important;
    border: 0 !important;
}

.widget--dashboard-stats .dashboard-stat .dashboard-stat__icon {
    display: none;
}

/* .custom-completion-record .dashboard-stat--available .dashboard-stat__value {

} */

/*
# Home page layout
*/

.primary-catalogue .featured-content-multi-carousel-item {
    background: white;
    margin-left: 1rem;
}

.primary-catalogue .catalog-grid-item__asset-container {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.primary-catalogue .featured-content-multi-carousel-item__body {
    text-align: left;
}

.primary-catalogue h4 {
    color: rgb(20 53 96);
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: 1.902rem;
}

.primary-catalogue img {
    display: block;
    max-width: none;
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.primary-testimonials .testimonial {
    padding-top: 50%;
}

/*
# Login page
*/

.session {
    background-color: rgb(20 53 96);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-image-set(url('https://glacier.eco/uploads/Images/_1024x846_crop_center-center_82_line/gletscher.jpg.webp') 1x);
}

.session .session__container {
    padding: 3rem;
    border-radius: 20px;
}

.session h2 {
    margin-top: 2rem;
    color: rgb(20 53 96);
    font-size: 2rem;
    line-height: 3.804rem;
    font-weight: bold;
}

.session input[type="submit"] {
    border: 2px solid rgb(109 212 173);
    font-weight: 700;
    letter-spacing: .03rem;
    background-color: rgb(109 212 173);
    color: rgb(20 53 96);
    border-radius: 2rem;
    font-size: 1.125rem;
}

/*
# Registration Page
*/

.widget--registration-form .text-centered {
    margin-bottom: 2rem;
}

.widget--registration-form .btn--primary {
    border: 2px solid rgb(109 212 173);
    font-weight: 700;
    letter-spacing: .03rem;
    background-color: rgb(109 212 173);
    color: rgb(20 53 96);
    border-radius: 2rem;
    font-size: 1.125rem;
}

/* 
# Support Page
*/

.widget--support * {
    font-family: 'Pangea' !important;
}

.widget--support strong {
    font-size: 1.3rem;
}

.widget--support .faq__question {
    font-size: 1rem;
}

.widget--support .faq__search-block .btn--submit {
    color: black;
}

.widget--support .faq__search-block .btn--submit:hover {
    background-color: #bebcbc;
}

/*
# Course Info Page
*/

.course__detail__container {
    max-width: 80rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.course__detail__content h1 {
    font-size: 3rem;
    line-height: 3rem;
    color: rgb(20 53 96);
}

.course__detail__container .btn--primary {
    --tw-bg-opacity: 1;
    background-color: rgb(109 212 173 / var(--tw-bg-opacity));
    color: rgb(20 53 96);
    border: none;
    padding: 0.8rem 0rem;
    border-radius: 999px;
    font-size: 1.2rem;
    font-family: 'Pangea' !important;
}

.course__detail__container .btn--primary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.course__detail__container .btn--secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(51 129 201/var(--tw-bg-opacity));
    color: white;
    border: none;
    padding: 0.8rem 0rem;
    border-radius: 999px;
    font-size: 1rem;
    font-family: 'Pangea' !important;
}

.course__detail__container .btn--secondary:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(20 53 96/var(--tw-bg-opacity));
    color: white;
}

.course__detail__container .course__includes * {
    color: rgb(20 53 96);
    font-size: 1rem;
    font-family: ti-icons-rev2, 'Pangea' !important;
}

.course__detail__container .course__includes .icon--round {
    --tw-bg-opacity: 1;
    background-color: rgb(45 157 144 / var(--tw-bg-opacity));
}

.course__detail__container .course__detail__social .heading {
    padding-bottom: 15px;
}

/*
# Product Page
*/

.trustpilot-verified {
    border: none;
    background-color: #b1f2d0;
    padding: 1px;
    border-radius: 2px;
    margin-top: 8px;
}

/*
! Native glacier.eco website CSS
*/

.logo-section-autoplay .swiper-container,.logo-section .swiper-container {
    height: 6.25rem
}

.logo-section-autoplay.bg-primary-500 .overline-style,.logo-section-autoplay.bg-secondary-700 .overline-style,.logo-section.bg-primary-500 .overline-style,.logo-section.bg-secondary-700 .overline-style {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.logo-section-autoplay.bg-primary-500 .logo-wall-item svg path,.logo-section-autoplay.bg-secondary-700 .logo-wall-item svg path,.logo-section.bg-primary-500 .logo-wall-item svg path,.logo-section.bg-secondary-700 .logo-wall-item svg path {
    fill: #fff
}

.logo-section-autoplay.bg-tertiary-500 .overline-style,.logo-section.bg-tertiary-500 .overline-style {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.logo-section-autoplay.bg-tertiary-500 .logo-wall-item svg path,.logo-section.bg-tertiary-500 .logo-wall-item svg path {
    fill: #fff
}

.logo-section-autoplay.bg-background .overline-style,.logo-section.bg-background .overline-style {
    --tw-text-opacity: 1;
    color: rgb(20 53 96/var(--tw-text-opacity))
}

.logo-section-autoplay.bg-background .logo-wall-item .logo-link path,.logo-section-autoplay.bg-background .logo-wall-item .logo path,.logo-section.bg-background .logo-wall-item .logo-link path,.logo-section.bg-background .logo-wall-item .logo path {
    fill: #143560
}

.logo-section-autoplay .logo-wall-item.hover-effect .logo,.logo-section-autoplay .logo-wall-item.hover-effect .logo-link,.logo-section-autoplay .swiper-slide.hover-effect .logo,.logo-section-autoplay .swiper-slide.hover-effect .logo-link,.logo-section .logo-wall-item.hover-effect .logo,.logo-section .logo-wall-item.hover-effect .logo-link,.logo-section .swiper-slide.hover-effect .logo,.logo-section .swiper-slide.hover-effect .logo-link {
    transition: opacity .2s ease
}

.logo-section-autoplay .logo-wall-item.hover-effect .hover-logo,.logo-section-autoplay .logo-wall-item.hover-effect .hover-logo-link,.logo-section-autoplay .swiper-slide.hover-effect .hover-logo,.logo-section-autoplay .swiper-slide.hover-effect .hover-logo-link,.logo-section .logo-wall-item.hover-effect .hover-logo,.logo-section .logo-wall-item.hover-effect .hover-logo-link,.logo-section .swiper-slide.hover-effect .hover-logo,.logo-section .swiper-slide.hover-effect .hover-logo-link {
    opacity: 0;
    transition: opacity .2s ease
}

.logo-section-autoplay .logo-wall-item.hover-effect:hover .hover-logo,.logo-section-autoplay .logo-wall-item.hover-effect:hover .hover-logo-link,.logo-section-autoplay .swiper-slide.hover-effect:hover .hover-logo,.logo-section-autoplay .swiper-slide.hover-effect:hover .hover-logo-link,.logo-section .logo-wall-item.hover-effect:hover .hover-logo,.logo-section .logo-wall-item.hover-effect:hover .hover-logo-link,.logo-section .swiper-slide.hover-effect:hover .hover-logo,.logo-section .swiper-slide.hover-effect:hover .hover-logo-link {
    opacity: 1
}

.logo-section-autoplay .logo-wall-item.hover-effect:hover .logo,.logo-section-autoplay .logo-wall-item.hover-effect:hover .logo-link,.logo-section-autoplay .swiper-slide.hover-effect:hover .logo,.logo-section-autoplay .swiper-slide.hover-effect:hover .logo-link,.logo-section .logo-wall-item.hover-effect:hover .logo,.logo-section .logo-wall-item.hover-effect:hover .logo-link,.logo-section .swiper-slide.hover-effect:hover .logo,.logo-section .swiper-slide.hover-effect:hover .logo-link {
    opacity: 0;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.logo-section #logo-slider-autoplay,.logo-section-autoplay #logo-slider-autoplay {
    height: 80px
}

.logo-section #logo-slider,.logo-section-autoplay #logo-slider {
    height: 100%;
    min-height: 80px
}
